section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .second-title {
  font-size: 1.88rem;
}

section .third-title {
  font-size: 1rem;
}

section .second-title,
section .third-title {
  color: #939598;
  line-height: 1.25;
  margin-bottom: 20px;
}

/* Responsividade */

@media screen and (min-width: 900px) {
  #main {
    padding-left: 235px;
  }

  section {
    min-height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  section {
    min-height: calc(100vh - 85px);
    padding-top: 85px;
  }
}
