.input {
  position: relative;
  margin-top: 5px;
  width: 100%;

  box-sizing: border-box;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.form-two-cols {
  display: flex;
  justify-content: space-between;
}

.input::after {
  content: "";
  position: absolute;

  border-bottom: 1px solid #3e3e3e;
  background-color: #1e1e1e;

  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;

  transform: rotate(45deg);
}

.input input,
.input textarea {
  width: 100%;

  border: 1px solid #3e3e3e;
  color: #fff;

  background-color: transparent;
  box-shadow: none;

  padding: 10px 5px;

  outline: none;
}

.input textarea {
  min-height: 100px;
  resize: vertical;
}

.input input:focus,
.input textarea:focus {
  background-color: #292929;
}

.form-two-cols .input-container {
  width: calc(50% - 10px);
}

#third-section form {
  margin-top: 20px;
}

#third-section .g-recaptcha {
  margin: 25px 0 20px;
}

#third-section .features-list {
  margin: -40px -10px;
}

#third-section .features-list > li {
  width: calc(33.33% - 20px);
  max-width: 220px;
  margin: 40px 10px;
  padding-bottom: 40px;
  position: relative;
}

#third-section .features-list .contact-title {
  display: block;
  font-size: 1.25rem;
  color: #939598;
  margin-bottom: 10px;
}

#third-section .features-list .cover {
  max-width: 110px;
  margin-bottom: 10px;
}

#third-section .features-list .read-more,
#third-section .social-media {
  position: absolute;
  left: 0;
}

#third-section .features-list .read-more {
  top: calc(100% - 25px);
}

.social-media {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  top: calc(100% - 20px);
  width: 100%;
  max-width: 175px;
}

.social-media > li {
  width: calc(33.33% - 5px);
  min-width: 20px;
  max-width: 44px;
}

.social-media img {
  width: 100%;
  transition: 0.2s;
}

.social-media a:hover img {
  transform: scale(1.1);
}

.pin-icon::before {
  content: url(../../img/local.webp);
  padding-right: 3px;
}

.bar-before::before {
  content: "/";
}

.flex-cols-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

@media screen and (max-width: 900px) {
  .flex-cols-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .flex-cols-wrap li {
    flex: 0 0 200px;
    width: 300px;
    height: auto;
    gap: 20px;
  }
}

@media screen and (max-width: 470px) {
  .flex-cols-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .flex-cols-wrap li {
    flex: 0 0 60%;
    width: 300px;
    height: auto;
    gap: 20px;
  }
}

@media screen and (max-width: 330px) {
  .flex-cols-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .flex-cols-wrap li {
    flex: 0 0 100%;
    width: 300px;
    height: auto;
    gap: 20px;
  }
}
